@model ProductDemoApplication.Models.PurchaseTransaction

@{
    ViewBag.Title = "NewCreate";
}

<h2>NewCreate</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    function FillProduct() {
        $("#txtRate").val("");
            var ProdId = $("#ProductCat").val();
            $.ajax({
                url: '/PurchaseTransaction/FillProduct',
                type: "POST",
                dataType: "JSON",
                data: { Product: ProdId },
                success: function (categories) {
                    $("#Product").html("");
                    $.each(categories, function (i, category) {
                        $("#Product").append(
                            $('<option></option').val(category.Id).html(category.Name));

                    });
                }
            });
        }

        function FillText() {
            var ProdCatId = $("#Product").val();

            $.ajax({
                url: '/PurchaseTransaction/FillText',
                type: "POST",
                datatype: "JSON",
                data: { prodctCat: ProdCatId },
                success: function (products) {

                    $("#txtRate").html("");
                    $.each(products, function (i, product) {
                        $("#txtRate").val(product.Rate);
                    });

                }
            });
        }
      
</script>

<style type="text/css">
tr.d0 td{
        background-color :skyBlue;
    }

    tr.d1 td{
        background-color :#e9edf4;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PurchaseTransaction</h4>
        <hr />




        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("CustomerId", null, "---Select Customer---", htmlAttributes: new { @class = "form-control" })             
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("ProductCategoryName", null, "---Select Product Category---", htmlAttributes: new { @class = "form-control", @onchange = "FillProduct()", @Id = "ProductCat" })
           
                @Html.ValidationMessageFor(model => model.ProductCategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, "ProductId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("ProductId", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "---Select Product---", htmlAttributes: new { @class = "form-control", @Id = "Product", @onchange = "FillText()" })

                
               
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @Id = "txtRate" } })    
               
                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
       </div>
     
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="AddProduct" class="btn btn-success" id="btnAddProduct" name="command" />
            </div>
        </div>
    </div>

    <table id="tblProdDetails">
        @if (ViewData["data"] != null)
        {
            <tr style="border:none;" align="Center">
                <td align="center" style="border:none">
                    @Html.TextBox("txtDeleteValue", "", htmlAttributes: new { style = "display:none" })
                </td>
            </tr>
                <tr style="background-color:#336699;color:white">
                    <th width="10%">Customer Name</th>
                    <th width="10%">Product Id</th>
                    <th width="10%">Quantity</th>
                    <th width="10%">Rate</th>

                </tr>
            int count = 1;
            string csname = "";
            foreach (System.Data.DataRow dt in (ViewData["data"] as System.Data.DataTable).Rows)
            {
                count++;


                if (count % 2 == 0)
                {
                    csname = "d0";
                }
                else
                {
                    csname = "d1";
                }
                <tr class="@csname">
                    <td>@dt[0]</td>
                    <td>@dt[1]</td>
                    <td>@dt[2]</td>
                    <td>@dt[3]</td>
                    @*<td>
                            <input type="submit" id="Edit" name="Command" value="Edit" class="ClassEdit" />
                            <input type="submit" id="Delete" name="Command" value="Delete" />
                        </td>*@
                </tr>
            }
            <tr>
                <td><input type="submit" value="SaveProduct" class="btn btn-default" id="btnSaveProduct" name="command" /></td>
            </tr>
        }
    </table>
   
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
